{% extends "base.html" %}
{% load i18n %}

{% block metatitle %}
    {% trans "Oh no! You've been locked out" %}
{% endblock %}

{% block title %}
    <h1>{% trans "Oh no! You've been locked out" %}</h1>
{% endblock %}

{% block content %}
    {% if "security-questions" in request.path %}
        {% blocktrans %}
        <p>You have exceeded the maximum number of allowed incorrect reset attempts ({{ failure_limit }}).
        Please wait {{ cooloff_time_minutes }} minutes before trying again.</p>
        {% endblocktrans %}
    {% else %}
        {% blocktrans %}
        <p>You have exceeded the maximum number of allowed incorrect login attempts ({{ failure_limit }}).
        Please wait {{ cooloff_time_minutes }} minutes before trying again.</p>
        {% endblocktrans %}
        <p>
            <a href="{% url "login" %}" class="Button">{% trans "Login" %}</a>
        </p>
    {% endif %}
{% endblock %}
