{% extends "base.html" %}
{% load i18n %}

{% block metatitle %}
    {% trans "Oh no! You've been locked out" %}
{% endblock %}

{% block title %}
    <h1>{% trans "Oh no! You've been locked out" %}</h1>
{% endblock %}

{% block content %}
    {% if "security-questions" in referrer %}
        <p>
            {% blocktrans with limit=failure_limit cooloff=cooloff_time_minutes trimmed %}
                You have exceeded the maximum number of allowed incorrect reset
                attempts ({{ limit }}).  Please wait {{ cooloff }} minutes
                before trying again.
            {% endblocktrans %}
        </p>
    {% else %}
        <p>
            {% blocktrans with limit=failure_limit cooloff=cooloff_time_minutes trimmed %}
                You have exceeded the maximum number of allowed incorrect login
                attempts ({{ limit }}).  Please wait {{ cooloff }} minutes
                before trying again.
            {% endblocktrans %}
        </p>
        <p><a href="{% url "login" %}" class="Button">{% trans "Login" %}</a></p>
    {% endif %}
{% endblock %}
