{% extends "base.html" %}
{% load i18n %}

{% block links %}
    <a href="{% url "login" %}">{% trans "Login" %}</a>
{% endblock %}

{% block content %}
    {% if "security-questions" in request.path %}
        {% blocktrans %}
        You have exceeded the maximum number of allowed incorrect reset attempts ({{ failure_limit }}).
        Please wait {{ cooloff_time_minutes }} minutes before trying again.
        {% endblocktrans %}
    {% else %}
        {% blocktrans %}
        You have exceeded the maximum number of allowed incorrect login attempts ({{ failure_limit }}).
        Please wait {{ cooloff_time_minutes }} minutes before trying again.
        {% endblocktrans %}
    {% endif %}
    </ul>
{% endblock %}
