{% load i18n %}
<html>
    <body style="background-color:black;color:white;">
        <form method="post">
            {% csrf_token %}
            {{ wizard.management_form }}
            {{ form.as_p }}
            <button type="submit">Login</button>

            {% if backup_tokens %}
                <p>{% trans "As a last resort, you can use a backup token:" %}</p>
                <button name="wizard_goto_step" type="submit" value="backup" class="btn btn-default btn-block">{% trans "Use Backup Token" %}</button>
            {% endif %}
        </form>
    </body>
</html>