{% extends "base.html" %}
{% load i18n %}

{% block metatitle %}
    {% trans "Registration" %}
{% endblock %}

{% block title %}
    <h1>{% trans "Registration" %}</h1>
{% endblock %}

{% block content %}
<form method="post" class="Form" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {{ wizard.form.non_form_errors }}
        {% for form in wizard.form.forms %}
            {{ form.as_div }}
        {% endfor %}
    {% else %}
        {{ wizard.form.as_div }}
    {% endif %}

    {% with current_step=wizard.steps.current prev_step=wizard.steps.prev first_step=wizard.steps.first last_step=wizard.steps.last%}
        {# Display terms field ONLY on first page, which is the user data page. #}
        {% if current_step == first_step %}
            <div class="{{ form.terms.css_classes }}">
                <label class=" Field-label required" for="{{ form.terms.id_for_label }}">
                    {{ form.terms.label }}
                </label>
                <div class="Field-item">
                    {{ form.terms }}
                    {{ form.terms.errors }}
                </div>
                <div class="Field-message">
                    {{ form.terms.help_text|safe }}
                </div>
            </div>
        {% endif %}

        {# Submit button text should display next for all steps except the last #}
        {% if current_step == last_step %}
            <input class="Button" type="submit" name="submit" value="{% trans "Submit" %}" />
        {% else %}
            <input class="Button" type="submit" name="submit" value="{% trans "Next" %}" />
        {% endif %}

        {# Only display the back to first step button if it is not the previous step #}
        {% if prev_step and prev_step != first_step %}
            <button class="Button" name="wizard_goto_step" type="submit" value="{{ first_step }}">
                {% trans "First step" %}
            </button>
            <button class="Button" name="wizard_goto_step" type="submit" value="{{ prev_step }}">
                {% trans "Prev step" %}
            </button>
        {% elif prev_step %}
            <button class="Button" name="wizard_goto_step" type="submit" value="{{ prev_step }}">
                {% trans "Prev step" %}
            </button>
        {% endif %}
    {% endwith %}
</form>
{% endblock content %}
