{% extends "base.html" %}
{% load i18n static %}

{% block metatitle %}
    {% trans "Registration" %}
{% endblock %}

{% block title %}
    <h1>{% trans "Registration" %}</h1>
{% endblock %}

{% block content %}
    <form action="" method="post" class="Form">
        {% csrf_token %}
        {{ form.as_div }}

        <div>
            {{ question_formset.management_form }}
            {{ question_formset.non_form_errors }}
            {% for qform in question_formset %}
                {{ qform.as_div }}
            {% endfor %}
        </div>

        {% comment %}
            Ts&Cs need to be at bottom of the form.
            Since the formset is not strictly part of the base form,
            this is the needed workaround.
        {% endcomment %}
        <div class="{{ form.terms.css_classes }}">
            {{ form.terms.label }}
            <div class="Field-item">
                {{ form.terms }}
                {{form.terms.errors }}
            </div>
            <div class="Field-message">{{ form.terms.help_text }}</div>
        </div>

        <div class="Form-buttons">
            <input type="submit" value="{% trans "Register" %}" class="Button" />
        </div>
    </form>
{% endblock %}
