{% extends "base.html" %}
{% load i18n %}

{% block content %}
<form method="post" class="Form" novalidate>
    {% csrf_token %}
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {{ wizard.form.non_form_errors }}
        {% for form in wizard.form.forms %}
            {{ form.as_div }}
        {% endfor %}
    {% else %}
        {{ wizard.form.as_div }}
    {% endif %}

    {% if wizard.steps.prev %}
        <button class="Button" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">
            {% trans "First step" %}
        </button>
        <button class="Button" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">
            {% trans "Prev step" %}
        </button>
    {% endif %}
    <input class="Button"type="submit" name="submit" value="{% trans "Submit" %}" />
</form>
{% endblock content %}
