{% extends "two_factor/core/setup_complete.html" %}
{% load i18n static %}

{% block extrastyle-feature %}<link rel="stylesheet" type="text/css" href="{% static "authentication_service/css/theme/ninyampinga.feature.css" %}" />{% endblock %}

{% block extrastyle-enhanced %}<link rel="stylesheet" type="text/css" href="{% static "authentication_service/css/theme/ninyampinga.enhanced.css" %}" />{% endblock %}

{% block branding %}<img src="{% static "authentication_service/images/logo_rwanda.png" %}" class="Header-branding-image">{% endblock %}