{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block branding %}
Girl Effect using django admin theme
{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block content %}
<div id="content-main">

<form action="" method="post" novalidate>
    {% csrf_token %}
    {{ form.as_div }}

    <div>
        {{ question_formset.management_form }}
        {{ question_formset.non_form_errors }}
        {% for qform in question_formset %}
            {{ qform.as_div }}
        {% endfor %}
    </div>
    <input type="submit" value="Register" />
</form>

{% endblock %}
