{% extends "base.html" %}
{% load i18n %}

{% block links %}
    <a href="{% url "login" %}">{% trans "Login" %}</a>
{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_div }}

        <div>
            {{ question_formset.management_form }}
            {{ question_formset.non_form_errors }}
            {% for qform in question_formset %}
                {{ qform.as_div }}
            {% endfor %}
        </div>
        <input type="submit" value={% trans "Register" %} />
    </form>
{% endblock %}
