{% extends "base.html" %}
{% load i18n static %}

{% comment %}
    Default django admin styles added for now.
{% endcomment %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "authentication_service/css/form.css" %}" />
{% endblock %}

{% block metatitle %}
    {% trans "Login" %}
{% endblock %}

{% block title %}
    <h1>{% trans "Login" %}</h1>
{% endblock %}

{% block content %}
    <form method="post" class="Form">
        {% csrf_token %}
        {{ wizard.management_form }}
        {{ form.as_div }}
        <input type="submit" value="{% trans "Login" %}">

        {% if backup_tokens %}
            <p>{% trans "As a last resort, you can use a backup token:" %}</p>
            <button name="wizard_goto_step" type="submit" value="backup" class="btn btn-default btn-block">{% trans "Use Backup Token" %}</button>
        {% endif %}
    </form>
    <p>
        <a href="{% url "reset_password" %}">{% trans "Forgot password? Click here to reset it." %}</a>
    </p>
{% endblock %}
