.Form {

    .Field {
        margin-top: $spacer-multiple;
    
        &-label {
            font-size: 0.8em;
            text-transform: uppercase;
        }

        .TextInput,
        .PasswordInput {
            border-width: 3px;
            padding: $spacer;
            font-weight: bold;
            color: $primary;

            &:focus {
                border-color: $primary;
            }
        }
    }

    .Field-message--error.Field--required {
        .Field-item input {
            border-color: $warning;
        }
    }

    &-buttons {
        margin-top: $spacer-multiple;
        margin-bottom: $spacer-multiple;

        .Button {
            padding: $spacer-mid;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 0.8em;
        }
    }

}

.Additional-text {
    font-size: 0.8em;
}