.Form {

    // Field container
    .Field {
        margin-top: $spacer-multiple;

        &-label {
        }

        &-message {
            margin-top: $spacer;
        }

        // Input, password, textarea
        .TextInput,
        .PasswordInput,
        .EmailInput,
        .DateInput,
        .vDateField,
        .NumberInput,
        .Textarea {
            border-width: 3px;
            padding: $spacer;
            font-weight: bold;
            color: $primary;

            &:focus {
                border-color: $primary;
            }
        }

        .Textarea {
            height: 100px;
        }

    }

    // Select boxes
    .TypedChoiceField,
    .ModelChoiceField {
        $block: &;
        display: block;
        position: relative;
        width: 100%;
    
        &::after {
            display: inline-block;
            position: absolute;
            right: 15px;
            top: 40px;
            width: .65em;
            height: .65em;
            border-style: solid;
            border-width: .15em .15em 0 0;
            content: "";
            transform: rotate(135deg);
            color: $primary;
        }
    
        .Select {
            width: 100%;
            min-height: 41px;
            padding: $spacer - 1;
            background-color: transparent;
            border: 3px solid $border;
            color: $primary;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;

            &:focus {
                border-color: $primary;
            }
        }
    }

    // Check boxes
    .BooleanField {
        width: 100%;
        display: table;
        position: relative;
        margin: 0;
        
        .Field-label {
            width: 80%;
            display: table-cell;
            vertical-align: middle;
        }
        
        .Field-item {
            vertical-align: middle;
            text-align: right;

            .CheckboxInput {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                width: $spacer-multiple;
                height: $spacer-multiple;
                border: 3px solid $border;
                padding: $spacer-mid;

                &:checked {
                    border-color: $primary;
                    background-color: $primary;
                }
            }
        }
    }

    // Errors
    .Field-message--error.Field--required {
        .Field-item input {
            border-color: $warning;
        }
    }

    // Button container
    &-buttons {
        margin-bottom: $spacer-multiple;
    }

}

.Button {
    margin-top: $spacer-multiple;
    padding: $spacer-mid;
    font-weight: bold;
    text-align: center;

    &--warning {
        background: $warning;
    }
}

.Messages {
    .Message {
        font-family: $font-bold;
    }
}

.errorlist {
    margin-top: $spacer-multiple;
}