{% load i18n static string_filters %}

<!DOCTYPE html>
{% comment %}
    TODO: Check what additions are needed for translation. There are already other tickets for this.
{% endcomment %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
    <head>
        <div id="ge-template-theme" name="{{ ge_global_theme }}" />
        {% comment %}
            Only override the head block if there is no other way around it.
        {% endcomment %}
        {% block head %}
            <title>{% block metatitle %}{% endblock %}</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            {% comment %}
                Default to the django admin base stylesheet for now.
            {% endcomment %}
            {% block generic-styles %}
              <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "authentication_service/css/style.feature.css" %}{% endblock %}" />
              {% block extrastyle-feature %}{% endblock %}
              <script type="text/javascript">
                  var CutsTheMustard = 'querySelector' in document && 'localStorage' in window && 'addEventListener' in window;
                  if (CutsTheMustard) {
                    // Load Enhanced Styles. This blocks page loading to prevent FOUC.
                    document.write('<link rel="stylesheet" type="text/css" href="{% static "authentication_service/css/style.enhanced.css" %}" />');
                    document.write('{% block extrastyle-enhanced %}{% endblock %}');
                  }
              </script>
            {% endblock %}

            {% comment %}
                Generic block for extra header content that is not style related.
            {% endcomment %}
            {% block extrahead %}{% endblock %}
        {% endblock %}
    </head>

    <body>
        <div id="wrap" class="{{ ge_global_theme|title }}{{ request.path_info|classify:"/" }}{% block custom-class %}{% endblock %}">
            <div id="container" class="Container">

                <!-- Header -->
                <div id="header" class="Header">
                    <div id="branding" class="Header-branding">
                        {% block branding %}
                          <img width="70px" src="{% static "authentication_service/images/logo.basic.png" %}" class="Header-branding-image">
                        {% endblock %}
                    </div>
                    <div id="title" class="Header-title">
                        {% block title %}{% endblock %}
                    </div>
                    <div class="Header-links">
                        {% block links %}
                            {% if ge_global_client_name and ge_global_client_website %}
                                {% trans "Back to " %}<a href="{{ ge_global_client_website }}">{{ ge_global_client_name }}</a>
                            {% endif %}
                        {% endblock %}
                    </div>
                    {% comment %}
                        There might be a need for a nav later on.
                    {% endcomment %}
                    {% block header-nav %}{% endblock %}
                </div>
                <!-- END Header -->

                {% comment %}
                    There might be a need for a nav bar later on.
                    See into perhaps showing referrer app visually.
                    {% block breadcrumbs %}
                        <div class="breadcrumbs">
                            <a href="">{% trans "App name" %}</a>
                            &rsaquo; {% trans "Current page" %}
                        </div>
                    {% endblock %}
                {% endcomment %}

                {% comment %}
                    This allows django messages from the messaging framework to be displayed.
                {% endcomment %}
                {% block messages %}
                    {% if messages %}
                        <div id="messagelist" class="Messages">
                            {% for message in messages %}
                                <div {% if message.tags %}class="Message Message--{{ message.tags }}"{% endif %}>{{ message|capfirst }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endblock messages %}

                {% comment %}
                    Generally only changing content will suffice for templates.
                {% endcomment %}
                <div id="content" class="Content">
                    {% block content %}{% endblock %}
                </div>

                {% block footer %}
                    <div id="footer" class="Footer">
                        <div class="Menu">
                            <div class="Menu-title">
                                <h1>{% trans "Menu" %}</h1>
                            </div>
                            <ul class="Menu-list Menu-list--left">
                                {% if ge_global_client_name and ge_global_client_website %}
                                    <li class="Menu-item"><a href="{{ ge_global_client_website }}">{% trans "Home" %}</a></li>
                                {% endif %}
                            </ul>
                            {% if request.user.is_authenticated %}
                                <ul class="Menu-list Menu-list--right">
                                    <li class="Menu-item"><a href="{% url 'update_password' %}">{% trans "Password update" %}</a></li>
                                    <li class="Menu-item"><a href="{% url 'update_security_questions' %}">{% trans "Security questions update" %}</a></li>
                                    <li class="Menu-item"><a href="{% url 'delete_account' %}">{% trans "Delete account" %}</a></li>
                                    <li class="Menu-item"><a href="{% url 'oidc_provider:end-session' %}">{% trans "Logout" %}</a></li>
                                </ul>
                            {% endif %}
                        </div>
                        <div class="Back-to-top">
                            <a href="#" class="Back-to-top--link">{% trans "Back to Top" %}</a>
                        </div>
                        <p>&copy; Girl Effect | Company No.07516619 | Charity No.1141155</p>
                    </div>
                {% endblock %}
            </div>
        </div>
    </body>
</html>
