{% extends "base.html" %}
{% load i18n static %}

{% block metatitle %}
    {% trans "Delete Your Account" %}
{% endblock %}

{% block title %}
    <h1>{% trans "Delete Your Account" %}</h1>
{% endblock %}

{% block content %}
    {% if confirm %}
        <p class="Intro">{% trans "We're sad to see you go. Are you sure you want to delete your account?" %}
        <form method="post" class="Form">
            <div style="display: none;">
            {% csrf_token %}
            {{ form.as_div }}
            </div>
            {% comment %}
                Do not alter this name without updating the view.
            {% endcomment %}
            <div class="Form-buttons">
                <input name="confirmed_deletion" type="submit" value="{% trans "Delete account" %}" class="Button" />
            </div>
        </form>
        <p>
            <a href="{% url "edit_profile" %}" class="Button">{% trans "No, I've changed my mind" %}</a>
        </p>
    {% else %}
        <form method="post" class="Form" {% if confirm %}style="display: none;"{% endif %}>
            {% csrf_token %}
            {{ form.as_div }}
            <div class="Form-buttons">
                <input type="submit" value="{% trans "Delete account" %}" class="Button" />
            </div>
        </form>
        <p class="Additional-text">
            <a href="{% url "edit_profile" %}">{% trans "Back" %}</a>
        </p>
    {% endif %}
{% endblock %}
