{% extends "base.html" %}
{% load i18n static %}

{% block metatitle %}
    {% trans "Edit Your Profile" %}
{% endblock %}

{% block title %}
    <h1>{% trans "Edit Your Profile" %}</h1>
{% endblock %}

{% block content %}
    <form method="post" class="Form">
        {% csrf_token %}
        {{ form.as_div }}

        <div class="Form-buttons">
            <input type="submit" value="{% trans "Update" %}" class="Button" />
        </div>

        <div class="Menu">
            <div class="Menu-title">
                <h1>{% trans "Menu" %}</h1>
            </div>
            <ul class="Menu-list">
                <li class="Menu-item"><a href="{% url "update_password" %}">{% trans "Password update" %}</a></li>
                <li class="Menu-item"><a href="{% url "update_security_questions" %}">{% trans "Security questions update" %}</a></li>
                <li class="Menu-item"><a href="{% url "delete_account" %}">{% trans "Delete account" %}</a></li>
                {% if 2fa_enabled %}
                    <li class="Menu-item"><a href="{% url "update_2fa" %}">{% trans "2FA settings" %}</a></li>
                {% endif %}
                <li class="Menu-item"><a href="{% url "redirect_view" %}">{% trans "Logout" %}</a></li>
            </ul>
        </div>
    </form>
{% endblock %}
