{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block branding %}
    Girl Effect using django admin theme
{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_div }}
        <button type="submit">{% trans "Update" %}</button>
        <a href="{% url "update_password" %}">{% trans "Password Update" %}</a>
        <!--<a href="{% url "update_security_questions" %}">Security Questions Update</a>-->
        {% if 2fa_enabled %}
            <a href="{% url "update_2fa" %}">{% trans "2FA settings" %}</a>
        {% endif %}
    </form>
{% endblock %}