{% extends "base.html" %}
{% load i18n static %}

{% block metatitle %}
    {% trans "Edit Your Profile" %}
{% endblock %}

{% block title %}
    <h1>{% trans "Edit Your Profile" %}</h1>
{% endblock %}

{% block content %}
    <form method="post" class="Form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_div }}

        <div class="Form-buttons">
            <input type="submit" value="{% trans "Update" %}" class="Button" />
        </div>
    </form>
{% endblock %}
