{% extends "base.html" %}
{% load i18n static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "authentication_service/css/form.css" %}" />
{% endblock %}

{% block branding %}<h1>{% trans "Update password" %}</h1>{% endblock %}

{% block links %}
    <a href="{% url "admin:logout" %}">{% trans "Logout" %}</a>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="">{% trans "App name" %}</a>
        &rsaquo; <a href={% url "edit_profile" %}>{% trans "Edit profile" %}</a>
        &rsaquo; {% trans "Password update" %}
    </div>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_div }}
        <input type="submit" value={% trans "Update" %} />
    </form>
    <a href="{% url "edit_profile" %}">{% trans "Back" %}</a>
{% endblock %}
