{% extends "base.html" %}
{% load i18n static %}

{% block metatitle %}
    {% trans "Update Security Questions" %}
{% endblock %}

{% block title %}
    <h1>{% trans "Update Security Questions" %}</h1>
{% endblock %}

{% block content %}
    <form method="post" class="Form">
        {% csrf_token %}
        {{ question_formset.management_form }}
        {{ question_formset.non_form_errors }}
        {% for form in question_formset %}
            {{ form.as_div }}
        {% endfor %}
        <div class="Form-buttons">
            <input type="submit" value="{% trans "Update" %}" class="Button" />
        </div>
    </form>
    <p class="Additional-text">
        <a href="{% url "edit_profile" %}">{% trans "Back" %}</a>
    </p>
{% endblock %}
