{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block branding %}
    Girl Effect using django admin theme
{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_div }}
        <button type="submit">{% trans "Update" %}</button>
    </form>
    <a href="{% url "edit_profile" %}">Back</a>
{% endblock %}