.Container {
    padding: $spacer-multiple;
    background: $white;
}

.Header {
    text-align: center;
    margin-bottom: $spacer-multiple;

    &-branding {
        margin-bottom: $spacer;
    }

    &-title {
        background: $primary;
        text-transform: uppercase;
        border-top: 1px solid $background;
        border-bottom: 1px solid $background;
        margin-left: -$spacer-multiple;
        margin-right: -$spacer-multiple;
        text-align: center;

        h1 {
            font-size: 1em;
            color: $white;
        }
    }
}

.Intro {

}

.Footer {
    padding: $spacer-multiple $spacer-multiple 0 $spacer-multiple;
    margin-top: $spacer-multiple;
    margin-left: -$spacer-multiple;
    margin-right: -$spacer-multiple;

    p {
        margin: 0;
    }
}

// Adjustments for desktops and larger devices

@media (min-width: 40em) {
    body {
        margin-top: $spacer-multiple * 2;
    }
    .Container {
        max-width: 35em;
        margin: 0 auto;
    }
}