{% extends "base.html" %}
{% load i18n static %}

{% block metatitle %}
    {% trans "Password Reset" %}
{% endblock %}

{% block title %}
    <h1>{% trans "Password Reset" %}</h1>
{% endblock %}

{% block content %}
    <p class="Intro">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
    <form method="post" class="Form">
        {% csrf_token %}
        {{ form.as_div }}
        <div class="Form-buttons">
            <input type="submit" value="{% trans "Change my password" %}" class="Button" />
        </div>
    </form>
{% endblock %}
