{% extends "base.html" %}
{% load i18n static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "authentication_service/css/form.css" %}" />
{% endblock %}

{% block branding %}<h1>{% trans "Password reset" %}</h1>{% endblock %}

{% block links %}
    <a href="{% url "login" %}">{% trans "Login" %}</a>
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

    <form method="post">
        {% csrf_token %}
        {{ form.as_div }}
        <input type="submit" value="{% trans "Change my password" %}" />
    </form>

{% endblock %}
