{% extends "authentication_service/login.html" %}
{% load i18n static %}

{% block extrastyle-feature %}<link rel="stylesheet" type="text/css" href="{% static "authentication_service/css/theme/springster.feature.css" %}" />{% endblock %}

{% block extrastyle-enhanced %}<link rel="stylesheet" type="text/css" href="{% static "authentication_service/css/theme/springster.enhanced.css" %}" />{% endblock %}

{% block branding %}<img width="70px" src="http://za.heyspringster.com/static/img/sp-logo.3e443cd8bfae.png" class="Header-branding-image">{% endblock %}
