@font-face {
  font-family: Avenir;
  src: url("/static/authentication_service/fonts/AvenirNextCondensed-Regular.woff"); }
@font-face {
  font-family: AvenirMedium;
  src: url("/static/authentication_service/fonts/AvenirNextCondensed-DemiBold.woff"); }
@font-face {
  font-family: AvenirBold;
  src: url("/static/authentication_service/fonts/AvenirNextCondensed-Bold.woff"); }
body,
textarea,
select {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #000000; }

strong {
  font-family: AvenirBold, Arial, Helvetica, sans-serif; }

a {
  color: #00b8ae;
  text-decoration: none;
  border-bottom: 1px solid #00b8ae; }
  a:hover {
    color: #00b8ae;
    border: 0; }

h1 {
  margin: 10px 0;
  font-size: 1.6em;
  font-family: AvenirBold, Arial, Helvetica, sans-serif; }

h2 {
  font-size: 1.4em;
  font-family: AvenirMedium, Arial, Helvetica, sans-serif; }

p, ul {
  margin: 10px 0; }

hr {
  margin: 20px 0; }

.Container {
  background: #ffffff;
  padding: 0; }

.Content {
  padding: 20px;
  background: #ececec;
  margin: 0 20px; }

.Header {
  text-align: center;
  margin-bottom: 0; }
  .Header-branding {
    margin-bottom: 0; }
    .Header-branding-image {
      width: 100px; }
  .Header-title {
    background: transparent;
    margin-left: 0;
    margin-right: 0;
    text-align: center; }
    .Header-title h1 {
      font-size: 1.2em;
      color: #000000;
      margin: 0;
      margin-top: 10px;
      padding: 15px; }

.List {
  padding: 0;
  list-style: none; }
  .List li {
    margin: 15px 0 0 0; }

.QR {
  text-align: center; }
  .QR-image {
    border: 3px solid #ed008c; }

.Tokens {
  margin: 10px 0;
  border: 1px solid #d6d6d6;
  padding: 0 15px 15px 15px; }
  .Tokens li {
    width: 50%;
    float: left; }
  .Tokens:after {
    content: "";
    display: block;
    clear: both; }

.Footer {
  padding: 20px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  border: 0;
  text-align: center; }
  .Footer p {
    margin: 0; }

@media (min-width: 40em) {
  body {
    margin-top: 40px; }

  .Container {
    max-width: 35em;
    margin: 0 auto;
    padding: 40px; }

  .Header-branding {
    margin-bottom: 20px; }
    .Header-branding-image {
      width: 100px; }
  .Header-title {
    margin: 0; }
    .Header-title h1 {
      margin: 20px; }

  .Footer {
    margin: 20px 0 0 0; } }
.Form .Field {
  margin-top: 20px; }
  .Form .Field-label {
    text-align: left; }
  .Form .Field-message {
    margin-top: 10px; }
  .Form .Field .TextInput,
  .Form .Field .PasswordInput,
  .Form .Field .EmailInput,
  .Form .Field .DateInput,
  .Form .Field .vDateField,
  .Form .Field .NumberInput,
  .Form .Field .Textarea {
    border-width: 2px;
    padding: 10px;
    font-weight: bold;
    color: #000000; }
    .Form .Field .TextInput:focus,
    .Form .Field .PasswordInput:focus,
    .Form .Field .EmailInput:focus,
    .Form .Field .DateInput:focus,
    .Form .Field .vDateField:focus,
    .Form .Field .NumberInput:focus,
    .Form .Field .Textarea:focus {
      border-color: #ed008c; }
  .Form .Field .Textarea {
    height: 100px; }
.Form .TypedChoiceField,
.Form .ModelChoiceField {
  display: block;
  position: relative;
  width: 100%; }
  .Form .TypedChoiceField::after,
  .Form .ModelChoiceField::after {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 40px;
    width: .65em;
    height: .65em;
    border-style: solid;
    border-width: .15em .15em 0 0;
    content: "";
    transform: rotate(135deg);
    color: #ed008c; }
  .Form .TypedChoiceField .Select,
  .Form .ModelChoiceField .Select {
    width: 100%;
    min-height: 41px;
    padding: 9px;
    background-color: transparent;
    border: 2px solid #d6d6d6;
    color: #ed008c;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none; }
    .Form .TypedChoiceField .Select:focus,
    .Form .ModelChoiceField .Select:focus {
      border-color: #ed008c; }
.Form .BooleanField {
  width: 100%;
  display: table;
  position: relative;
  margin: 0; }
  .Form .BooleanField .Field-label {
    width: 80%;
    display: table-cell;
    vertical-align: middle; }
  .Form .BooleanField .Field-item {
    vertical-align: middle;
    text-align: right; }
    .Form .BooleanField .Field-item .CheckboxInput {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      border: 2px solid #d6d6d6;
      padding: 15px; }
      .Form .BooleanField .Field-item .CheckboxInput:checked {
        border-color: #ed008c;
        background-color: #ed008c; }
.Form .Field-message--error.Field--required .Field-item input {
  border-color: #ff674d; }
.Form-buttons {
  margin-bottom: 20px; }

.Button {
  margin-top: 20px;
  padding: 15px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px; }
  .Button:hover {
    background: #ed008c; }
  .Button--warning {
    background: #ff674d; }

.Messages .Message {
  font-family: AvenirBold, Arial, Helvetica, sans-serif; }

.errorlist {
  margin-top: 20px; }

.Menu-title {
  background: #ed008c;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  margin-left: 0;
  margin-right: 0;
  text-align: center; }
  .Menu-title h1 {
    font-size: 1.2em;
    color: #ffffff; }
.Menu-list {
  padding-top: 5px; }
.Menu-item {
  margin: 15px 0; }
  .Menu-item a {
    display: inline-block; }
    .Menu-item a:hover {
      border-bottom: 1px solid #ffffff; }

@media (min-width: 40em) {
  .Menu {
    margin-top: 40px;
    padding-bottom: 10px; }
    .Menu-title {
      margin-right: 0;
      margin-left: 0; }
      .Menu-title h1 {
        margin: 20px; } }

/*# sourceMappingURL=ninyampinga.enhanced.css.map */
