{% load i18n %}

<button type="submit" class="Button">{% trans "Next" %}</button>

{% if wizard.steps.prev %}
  <button name="wizard_goto_step" type="submit"
          value="{{ wizard.steps.prev }}"
          class="Button">{% trans "Back" %}</button>
{% else %}
  <button disabled name="" type="button"
          class="Button Button--disabled">{% trans "Back" %}</button>
{% endif %}

{% if cancel_url %}
  <p class="Additional-text">
    <a href="{{ cancel_url }}">{% trans "Cancel" %}</a>
  </p>
{% endif %}