$font: Arial, Helvetica, sans-serif;

// COLOURS

$primary: #4D7779;
$secondary: #5268c2;
$background: #dad9d6;
$border: #dad9d6;
$warning: #ff674d;
$success: #5bd0e6;
$white: #ffffff;

// SPACING

$spacer-multiple: 20px;
$spacer-mid: 15px;
$spacer: 10px;
$spacer-half: 5px;