{% extends "authentication_service/profile/update_security_questions.html" %}
{% load i18n static %}

{% block extrastyle-feature %}<link rel="stylesheet" type="text/css" href="{% static "authentication_service/css/theme/springster.feature.css" %}" />{% endblock %}

{% block extrastyle-enhanced %}<link rel="stylesheet" type="text/css" href="{% static "authentication_service/css/theme/springster.enhanced.css" %}" />{% endblock %}

{% block branding %}<img src="{% static "authentication_service/images/sp-logo.png" %}" class="Header-branding-image">{% endblock %}