{% extends "base.html" %}
{% load i18n %}

{% block metatitle %}
    {% trans "Disable Two-factor Authentication" %}
{% endblock %}

{% block title %}
    <h1>{% trans "Disable Two-factor Authentication" %}</h1>
{% endblock %}

{% block content %}
    <p>
        {% blocktrans trimmed %}
            You are about to disable two-factor authentication. This
            compromises your account security, are you sure?
        {% endblocktrans %}
    </p>
    <form method="post" class="Form">
        {% csrf_token %}
        <table>{{ form }}</table>
        <button class="Button"
            type="submit">{% trans "Disable" %}</button>
    </form>
{% endblock %}
