# Main Django requirement.
django>=1.11,<2.0

# Database connector.
psycopg2==2.7.3.2

# API requirements.
djangorestframework-extras==0.2.1
djangorestframework==3.7.3

# 3rd party auth packages.
django-oidc-provider==0.5.2
django-two-factor-auth==1.7.0

# 3rd Pary form tools.
django-form-renderers>=0.3.2,<1.0
