{% extends "base.html" %}
{% load i18n static %}

{% block metatitle %}
    {% trans "Forgot your password?" %}
{% endblock %}

{% block title %}
    <h1>{% trans "Forgot your password?" %}</h1>
{% endblock %}

{% block content %}
    <p>{% trans "Please enter your email address below to retrieve your password. You will then receive an email which will allow you to complete the process" %}</p>
    <form method="post" class="Form">
        {% csrf_token %}
        {{ form.as_div }}
        <div class="Form-buttons">
            <input type="submit" value="{% trans "Submit" %}" class="Button" />
        </div>
    </form>
{% endblock %}
