{% extends "base.html" %}
{% load i18n static %}

{% block metatitle %}
    {% trans "Security Questions" %}
{% endblock %}

{% block title %}
    <h1>{% trans "Security Questions" %}</h1>
{% endblock %}

{% block links %}
    <a href="{{ request.META.HTTP_REFERER }}">{% trans "Back"%}</a>
{% endblock %}

{% block content %}
    <form method="post" class="Form">
        {% csrf_token %}
        {{ form.as_div }}
        <div class="Form-buttons">
            <input type="hidden" value="{{ username }}" name="auth-username">
            <input type="submit" value="{% trans "Submit" %}" class="Button" />
        </div>
    </form>
{% endblock %}
