{% extends "base.html" %}
{% load i18n static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "authentication_service/css/form.css" %}" />
{% endblock %}

{% block links %}
    <a href="{% url "login" %}">{% trans "Login" %}</a>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_div }}
        <input type="hidden" value="{{ username }}" name="auth-username">
        <input type="submit" value={% trans "Submit" %} />
    </form>
{% endblock %}
