{% extends "base.html" %}

{% load i18n static %}

{% block extrastyle-basic %}{% endblock %}

{% block extrastyle-enhanced %}<link rel="stylesheet" type="text/css" href="{% static "oidc_provider/css/oidc.css" %}" />{% endblock %}

{% block branding %}
    {% with client_name=client.name %}
        {{ client_name }}
    {% endwith %}
{% endblock %}

{% block metatitle %}
    {% trans "Request for Permission" %}
{% endblock %}

{% block title %}
    <h1>{% trans "Request for Permission" %}</h1>
{% endblock %}

{% block content %}
    {% blocktrans with client_name=client.name %}
        <p class="Intro">You've recently logged in to <strong>{{ client_name }}</strong> and they would like to access this information of you:</p>
    {% endblocktrans %}
    <form method="post" action="{% url 'oidc_provider:authorize' %}" class="Form">
        {% csrf_token %}
        {{ hidden_inputs }}
        <ul class="List">
            {% for scope in scopes %}
            <li><strong>{{ scope.name }}</strong> <br><small>{{ scope.description }}</small></li>
            {% endfor %}
        </ul>
        <div class="Form-buttons">
            <input name="allow" type="submit" value="Authorize" class="Button" />
            <input type="submit" value="Decline" class="Button Button--warning" />
        </div>
    </form>
{% endblock %}

{% block footer %}{% endblock %}
