{% extends "base.html" %}

{% load i18n static %}

{% block extrastyle-basic %}{% endblock %}

{% block extrastyle-enhanced %}<link rel="stylesheet" type="text/css" href="{% static "oidc_provider/css/oidc.css" %}" />{% endblock %}

{% block branding %}
    {% with client_name=client.name %}
        {{ client_name }}
    {% endwith %}
{% endblock %}

{% block metatitle %}
    {% trans "Request for Permission" %}
{% endblock %}

{% block title %}
    <h1>{% trans "Request for Permission" %}</h1>
{% endblock %}

{% block content %}
    <p class="Intro">
        {% blocktrans %}
            <p>
                To make sure the site is as awesome as possible we need access to your profile information.
                This includes the information that you gave us when you registered.

                In order to register you as a member of the community we need to access this information. We will use this information in accordance with our Terms and Conditions.

                Are you happy to provide access to your profile information?
            </p>
        {% endblocktrans %}
    </p>
    <form method="post" action="{% url 'oidc_provider:authorize' %}" class="Form">
        {% csrf_token %}
        {{ hidden_inputs }}
        <ul class="List">
            {% for scope in scopes %}
            <li><strong>{{ scope.name }}</strong> <br><small>{{ scope.description }}</small></li>
            {% endfor %}
        </ul>
        <div class="Form-buttons">
            <input name="allow" type="submit" value="{% trans 'Authorize' %}" class="Button" />
            <input type="submit" value="{% trans 'Decline' %}" class="Button Button--warning" />
        </div>
    </form>
{% endblock %}
